*{
    margin: 0;
    padding: 0;
}


#box{
    margin-top: 330px;
    padding-top: 20px;
    border: 1px solid black;
    width: 750px;
    margin-left: 400px;
    padding-bottom: 20px;
    background-color:  rgb(30, 30, 30,0.7);
}

#box>label{
    padding-left: 180px;
    padding-top: 350px;
    font-size: 22px;
    color: white;
}

#box>input{
    text-indent: 4px;
    width: 250px;
    height: 40px;
    background-color:rgb(63, 114, 183,0.4);
border: 1px solid black;
color: white;
}

input::placeholder{
    color: #dcdcdc;
    text-indent: 14px;
}

button{
    width: 160px;
    height: 30px;
    margin-left: 280px;
    margin-top: 50px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 4px;
    color: white;
    background-color:rgb(63, 114, 183,0.4);
}

button:hover{
    border-radius: 4px;
    background-color:  rgb(63, 114, 183,0.4);
}